
@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 0 auto;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 4rem;
    }

    .pokemon .details img {
        width: 50%;
        height: 70px;
        align-self: flex-end;
    }
}
